{% extends "base/base-inicio.html" %}
{% block title %}
Iniciar Sesion
{% endblock title %}
{% block css %}
{% include "base/css.html" %}
{% endblock css %}
{% block content %}
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bienvenido</h1>
                  </div>
                  <form class="user" method="POST" action="{% url 'inicio' %}">
                    {% csrf_token %} 
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" name="usuario" aria-describedby="emailHelp" placeholder="Ingresa tu email...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="contraseña" placeholder="Contraseña">
                    </div>
                    {% if mensaje %}
                    <div class="text-center">
                        <p class="small">{{ mensaje }}</p>
                    </div>
                    {% endif %}
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Recordar?</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Iniciar
                    </button>
                    <hr>
                    <a href="index.html" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Iniciar con Google
                    </a>
                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Iniciar con Facebook
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'nucleo:restablecer' %}">Olvido la contraseña?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'nucleo:registrar' %}">Crear cuenta</a>
                  </div>
                </div>
              </div>
            </div>
{% endblock content %}
{% block js %}
{% include "base/js.html" %}
{% endblock js %}