{% extends "base/base-escritorio.html" %}
{% block title %}
Notaria
{% endblock %}
{% block css %}
{% include "base/css.html" %}
{% endblock %}
{% block barra-lateral %}
{% include "base/barra-lateral.html" %}
{% endblock %}
{% block barra-superior %}
{% include "base/barra-superior.html" %}
{% endblock %}
{% block content %}
    <h1>{{ object.pk }}</h1>
    {{ object }}
    {% for atrib in object.get_deferred_fields %}
        {{atrib.label}} : {{atrib.value}}
    {% endfor %}
{% endblock %}
{% block pie %}
{% include "base/pie.html" %}
{% endblock %}
{% block navegador-arriba %}
{% include "base/navegador-arriba.html" %}
{% endblock %}
{% block modal %}
{% include "base/modal.html" %}
{% endblock %}
{% block js %}
{% include "base/js.html" %}
{% endblock %}